*{font-family: 'Open Sans';}
body            { font-family: 'Open Sans'; background: #eee; }
a, h1, h2       { color: #377ba8; }
h1, h2          { font-family: 'Open Sans Condensed', sans-serif; margin: 0; }
h1              { border-bottom: 2px solid #eee; }
h2              { font-size: 1.2em; }

.page           { margin: 0.5em auto; width: 80%; border: 5px solid #ccc;
                  padding: 0.8em; background: white; }
.entries        { list-style: none; margin: 0; padding: 0; }
.entries li     { margin: 0.8em 1.2em; }
.entries li h2  { margin-left: -1em; }
.add-entry      { font-size: 0.9em; border-bottom: 1px solid #ccc; }
.add-entry dl   { font-weight: bold; }
.metanav        { text-align: right; font-size: 0.8em; padding: 0.3em;
                  margin-bottom: 1em; background: #fafafa; }
.flash          { background: #cee5F5; padding: 0.5em;
                  border: 1px solid #aacbe2; }
.error          { background: #f0d6d6; padding: 0.5em; }

table.plate{width:90%;}
table.plate tr:nth-child(odd) td{
	background-color:#EEE;
	width:7%;
	height:1em;
}
table.plate tr:nth-child(even) td{
	background-color:#DDD;
	height:1em;
}

table.plate tr:nth-child(odd) td.highlight{
	background-color:red;
	
}
table.plate tr:nth-child(even) td.highlight{
	background-color:red;
	
}


div.rightmenu{float:right;}
li.inqueue{color:green;}
li.done{color:gray;}
a.finished,a.finished h2{color:gray; !important}
li#first{font-size:200%; color:black; font-weight:bold;}

input,select {font-size:120%;}
button{font-size:200%;}

