{% extends "layout.html" %}
{% block body %}
 
<script>
$(document).ready(function(){
  $('#runCmdButton').click(function() { 
        $.ajax({
            url: 'addmanualactionforchechcalib',
            type: 'POST',
            data: form.serialize()
        });  
  });

  var optionsForContainer = {
    "none" : {
      allowedActions : [ "Home", "InitaliseLabware" ],
      selectedAction : 'Home',
      disabledInputs : [ "useVolume","useRow", "useCol" ],
    },
    "CulturePlate" : {
      allowedActions : [ "Aspirate", "Dispense", "AirGap", 
        "DispenseBottom","Resuspend","ResuspendDouble","Home" ],
      maxRow : 4,
      maxCol : 6,
      selectedAction : 'Aspirate',
      disabledInputs : [],
    },
    "CulturePlate2" : {
      allowedActions : [ "Aspirate", "Dispense", "AirGap", 
        "DispenseBottom","Resuspend","ResuspendDouble","Home" ],
      maxRow : 4,
      maxCol : 6,
      selectedAction : 'Aspirate',
      disabledInputs : [],
    },
    "AliquotPlate" : {
      allowedActions : [ "Aspirate", "Dispense", "AirGap", 
        "DispenseBottom","Resuspend","ResuspendDouble","Home" ],
      maxRow : 8,
      maxCol : 12,
      selectedAction : 'Dispense',
      disabledInputs : [],
    },
    "p1000rack" : {
      allowedActions : [ "GetTips", "Home" ], 
      maxRow : 8,
      maxCol : 12,
      selectedAction : 'GetTips',
      disabledInputs : [ "useVolume" ],
    },
    "trash" : {
      allowedActions : [ "DropTip", "Home" ], 
      selectedAction : 'DropTip',
      disabledInputs : [ "useVolume","useRow", "useCol" ],
    },
    "TubBlood" : {
      allowedActions : [ "Aspirate", "Dispense", "AirGap", 
        "ResuspendReservoir","Home" ],
      selectedAction : 'Aspirate',
      disabledInputs : [ "useRow", "useCol" ],
    },
    "TubSybr" : {
      allowedActions : [ "Aspirate", "Dispense", "AirGap", 
        "ResuspendReservoir","Home" ],
      selectedAction : 'Aspirate',
      disabledInputs : [ "useRow", "useCol" ],
    },
    "TubMedia" : {
      allowedActions : [ "Aspirate", "Dispense", "AirGap", 
        "ResuspendReservoir","Home" ],
      selectedAction : 'Aspirate',
      disabledInputs : [ "useRow", "useCol" ],
    }
  };

  // reset the available field options depending on container
  $('#useContainer').change(function(){
    var selectedContainer = $("#useContainer option:selected").val();
    if( selectedContainer in optionsForContainer ){
      resetOptions( "robotActionsForm", optionsForContainer[ selectedContainer ] );
    }
  });
});

// takes dictionary of options to reset in the form
function resetOptions( formId, optionsDict ){
  // bring all form decendant fields to active state
  // then disable according to list if there is one
  $("#" + formId + " *").prop("disabled", false)
  
    if ( "disabledInputs" in optionsDict ){
    $( optionsDict["disabledInputs"].map( x => "#"+x ).join(", ") ).prop("disabled","disabled");
  }
  
  if ( "allowedActions" in optionsDict ){
    selectAllow( "doAction", optionsDict["allowedActions"] );
  }
  
  if ( "selectedAction" in optionsDict ){
    $("#doAction").val( optionsDict["selectedAction"] );
  }

  // bring rows/cols to known state by repopulating, either
  // with all or with rows/cols up to a maximum (index)
  var rows = [ "A", "B", "C", "D", "E", "F", "G", "H" ];
  var cols = [ 1,2,3,4,5,6,7,8,9,10,11,12 ];
  var rowField = $("#useRow");
  rowField.empty();
  $.each( rows, function( i, val ) {
    rowField.append(  $("<option></option>")
      .attr("value", i).text(val) );
    if ( "maxRow" in optionsDict && optionsDict["maxRow"] == i + 1){ return(false); };
  });
  var colField = $("#useCol");
  colField.empty();
  $.each( cols, function( i, val ) {
    colField.append(  $("<option></option>")
      .attr("value", i).text(val) );
   if ( "maxCol" in optionsDict && optionsDict["maxCol"] == i + 1){ return(false); };
  });
}

// sets options for a select field
function selectAllow( selectFieldId, allowOptions ){
  var selectField = $("#" + selectFieldId);
  // repopulate the options
  selectField.empty();
  $.each( allowOptions, function(i,val){
    selectField.append( $("<option></option>")
      .attr("value", val).text(val));
  });
}
</script>


<h2>check and adjust calibrations</h2>

<p>Run a command and add to the queue</p>
<form action='/addmanualactionforchechcalib' method="post" name="robotActionsForm" id="robotActionsForm">
  <p>
  pipette 
  <select name="usePipette" id="usePipette">
    <option value="p1000">p1000</option>
    <option value="p200">p200</option>
  </select>
  </p>

  <p>
    container
    <select name="useContainer" id="useContainer">
      <option value="">none</option>
      <option value="CulturePlate">CulturePlate</option>
      <option value="CulturePlate2">CulturePlate2</option>
      <option value="AliquotPlate">AliquotPlate</option>
      <option value="p1000rack">p1000rack</option>
      <option value="trash">trash</option>
      <option value="TubBlood">TubBlood</option>
      <option value="TubMedia">TubMedia</option>
      <option value="TubSybr">TubSybr</option>
    </select>
  </p>
  <p>
    row
    <select name="useRow" id="useRow" disabled="disabled>"
      <option value="0">A</option>
      <option value="1">B</option>
      <option value="2">C</option>
      <option value="3">D</option>
      <option value="4">E</option>
      <option value="5">F</option>
      <option value="6">G</option>
      <option value="7">H</option>
    </select>
  </p>

  <p>
    column
    <select name="useCol" id="useCol" disabled="disabled">
      <option value="0">1</option>
      <option value="1">2</option>
      <option value="2">3</option>
      <option value="3">4</option>
      <option value="4">5</option>
      <option value="5">6</option>
      <option value="6">7</option>
      <option value="7">8</option>
      <option value="8">9</option>
      <option value="9">10</option>
      <option value="10">11</option>
      <option value="11">12</option>
    </select>
  </p>


  <p>
    action
    <select name="doAction" id="doAction">
      <option value="Home">Home</option>
      <option value="GetTips">GetTips</option>
      <option value="Aspirate">Aspirate</option>
      <option value="Dispense">Dispense</option>
      <option value="DropTip">DropTip</option>
      <option value="AirGap">AirGap</option>
      <option value="DispenseBottom">DispenseBottom</option>
      <option value="Resuspend">Resuspend</option>
      <option value="ResuspendDouble">ResuspendDouble</option>
      <option value="ResuspendReservoir">ResuspendReservoir</option>
      <option value="InitaliseLabware">InitaliseLabware</option>
    </select>
  </p>

  <p>
  volume
  <input type="number" name="useVolume" id="useVolume" disabled="disabled">
  </p>
  <p>
  <button id="runCmdButton">run command</button>
  </p>
</form> 


{% endblock %}
