 <div style="float:right">
  <h3 style="margin:0;margin-bottom:1em;">Queue runner</h3>
{% if status == "Crashed" %}<p>{{status}}</p> {% endif %}
<form action="/killQueueProcessor" method="post" >
<input type=submit value="Kill"></form>
<form action="/restartQueueProcessor" method="post">
{%if status != "running" %}<input type=submit  value="{%if status == "Crashed" %}Restart {% endif %}{%if status == "notstarted" %}Start {% endif %}"></form> {% endif %}
{% if 1==1 %}
<form action="/restartQueueProcessor" method="post"><input type="hidden" name="simulate" value="yes" />
<input type=submit  value="Simulate"></form>{% endif %}
 </div>
 {% if queue|length>0  and queue[0].queued ==1  %}
<div class="robotwarn">
<img src="/static/HR002.png" height=30>Caution. Robot in use.</div>
 {% endif %}
 
<h3 style="margin-bottom:1em">Operations</h3>
<form action="{{ url_for('runqueue') }}" method=post class=add-entry>

        <input type="submit" value="Run queue">
        </form>
        <form action="{{ url_for('pausequeue') }}" method=post class=add-entry>
        <input type="submit" value="Pause queue">

    </form>
<form action="{{ url_for('clearqueue') }}" method=post class=add-entry>
        <input type="submit" value="Clear queue">
 </form>
    
    

     <ul>
      <div style="clear:both"></div>
  {% for item in queue %}
  <li {% if item.doneAt is not none %}class="done"{% endif %} {% if item.queued == 1  %}class="inqueue"{% endif %} {% if loop.index == 1 %}
       id="first"
    {% endif %}>{{item.Command}}   {% if item.Volume is not none %} {{item.Volume}} &mu;l  {% endif %}  in {{item.Labware}} {% if item.LabwareType is not none %}{{item.LabwareType}} {% endif %}  {{ formatRowColumn(item.Row,item.Column)}} <small>(with {{item.Pipette}})</small> </li>
      {% endfor %}
    

  
</ul>