{% extends "layout.html" %}
{% block body %}
<h2>Create a new culture plate</h2>

    <form action="{{ url_for('add_plate') }}" method=post class=add-entry  style="margin-top:10px">
      <dl>
        <dt>Plate name:
        <dd><input type=text size=30 name=title>
     <dt>Plate type:
        <dd>
          <select name="class">
            <option value="1" selected>24 well plate</option>
            <option value="2">6 well plate</option>
            <option value="0">96 well plate</option></select>

      </dl>
       <input type="submit" value="Create new culture plate">
    </form>





{% endblock %}
