{% extends "layout.html" %}
{% block body %}
 
    <form action="{{ url_for('add_plate') }}" method=post class=add-entry  style="margin-top:10px">
      <dl>
        <dt>Plate name:
        <dd><input type=text size=30 name=title>
     <dt>Plate type:
        <dd><select name="class"><option value="1" selected>24 well plate</option><option value="0">96 well plate</option></select>
      </dl>
       <input type="submit" value="Create new culture plate">
    </form>

<form action="{{ url_for('createMeasurementPlate') }}" method=post class=add-entry style="margin-top:10px">
      <input type="submit" value="Create new measurement plate">
    </form>


  <ul class=entries>
  {% for entry in entries %}
    <li><a href="/plate/{{ entry.PlateID }}"><h2>{{ entry.PlateName }}</h2></a>{{ entry.count }} wells 
  {% else %}
    <li><em>There are currently no plates in the database.</em>
  {% endfor %}
  </ul>

    
{% endblock %}