{% extends "layout.html" %}
{% block body %}
 
    <form action="{{ url_for('addPlateForm') }}" method=get class=add-entry  style="display:inline">
      <input type="submit" value="Create new culture plate">
    </form>

<form action="{{ url_for('createMeasurementPlate') }}" method=post class=add-entry style="margin-top:10px;display:inline">
      <input type="submit" value="Create new measurement plate">
    </form>


  <ul class=entries>
  {% for entry in entries %}
    <li><a href="/plate/{{ entry.PlateID }}"><h2>{{ entry.PlateName }}</h2></a>{{ entry.count }} wells 
  {% else %}
    <li><em>There are currently no plates in the database.</em>
  {% endfor %}
  </ul>

    
{% endblock %}