{% extends "layout.html" %}
{% block body %}
 <h2>Plate: {{ plate.PlateName }} <small>({{ plate.PlateRows * plate.PlateCols }})</small></h2>
 {% if plate.PlatePurpose != 2 %}
    <form action="{{ url_for('add_culture') }}" method=post class=add-entry>
      <h3>Define a new culture and add to this plate</h3>
      <dl>
        <dt>Culture name:
        <dd><input type=text size=30 name=title id=title>
     <input type=hidden size=30 name=plateID value="{{plate.PlateID}}"> <input name="row" style="width:20px;" id="row"><input name="col" style="width:20px;" id="col"><input value="Add" type="submit">
      </dl>
    </form>
    {% endif %}
<h1></h1>
  
<h3>Plate layout</h3>
  <table class="plate" id="plate">
  {% for row in rows %}
  <tr>
  {% for col in row %}

    <td style="{% if col.MeasurementValue is defined %}{{  renderCellStyle(col.MeasurementValue ) }}{% endif %}"><a 
      {%if col.Status == 10 %} style="color:gray" {% endif %} href="/culture/{{ col.CultureID }}">{{ col.CultureName }}</a><div class=parasitaemia>{% if col.MeasurementValue is defined %}{{  renderParasitaemiaText(col.MeasurementValue )}}{% endif %}</div></td>

      {% endfor %}
    </tr>
  {% else %}
    <tr><td>No cultures defined</td></tr>
  {% endfor %}
  <div id="ref" style="width:50px;height:30px"></div>
  
</table>
{% if plate.PlatePurpose != 2 %}
    <form action="{{ url_for('process_plate') }}" method=post class=add-entry>
      <h3>Process plate</h3>
      <dl>
        <dt>Custom action:
      <input type=hidden size=30 name=plateid value="{{plate.PlateID}}">

      <select name="manual">
        
        <option value="feed">Feed</option><option value="split">Split to a parasitaemia of X%</option><option value="splittonewplate">Split to new plate with parasitaemia of X%</option><option value="dilutenewplate">Transfer to new plate keeping X%</option><option value="justaliquot">Just take aliquot</option><option value="feedandaliquot">Feed and aliquot</option>

        <option value="feedandkeepx">Feed and keep X%</option>
        <option value="dispenseXtoall">Dispense X to all</option> 
        <!--<option value="feedanddiscard50">Feed and discard 50%</option>
        <option value="dispense-sybr-green">Dispense Sybr green</option>
-->
      </select><br>

        Rows used (P200): <input name="tips200"  type="number"  id="tip200" value="{{machineproperties["tipsusedpipette1"]}}"/>
<br>
        Tips used (P1000):<input name="tips1000" type="number" id="tip1000" value="{{machineproperties["tipsusedpipette0"]}}"/> <br>
           X:<input name="parasitaemia" id="parasitaemia" type="number" value="0"/>
      <script>  
        if($('.flash')){
        $('#title').focus();}
            $.fn.numpad.defaults.gridTpl = '<table class="table modal-content"></table>';
      $.fn.numpad.defaults.backgroundTpl = '<div class="backdrop"></div>';
      $.fn.numpad.defaults.displayTpl = '<input type="text" class="form-control" />';
      $.fn.numpad.defaults.buttonNumberTpl =  '<button type="button" class="btn btn-default"></button>';
      $.fn.numpad.defaults.buttonFunctionTpl = '<button type="button" class="btn" style="width: 100%;"></button>';
      $.fn.numpad.defaults.buttonFunctionTpl = '<button type="button" class="btn" style="width: 100%;"></button>';
      $.fn.numpad.defaults.onKeypadCreate = function(){$(this).find('.done').addClass('btn-primary');};
      
 // $('#tip1000').numpad(); 
//Uncomment these to enable a numpad
  //$('#parasitaemia').numpad();
</script>
<br/>
      <select name="email">
        <!-- Currently hardcoded, but that's temporary -->
        <option value="none@example.com">--</option>
        <option value="rc17@sanger.ac.uk">rc17@sanger.ac.uk</option><option value="sndrsn@gmail.com">Theo</option><option value="mg26@sanger.ac.uk">mg26@sanger.ac.uk</option>
     <!--<
        <option value="dispense-sybr-green">Dispense Sybr green</option>
-->
      </select><br>

<input type="submit" value="Plan plate processing" /></dd>
   
      </dl>
    </form>
    
{% endif %}
<script>
    $('table#plate td').click(function(){
      $('#col').val(this.cellIndex);
      $('#row').val(this.parentNode.rowIndex);
      $('.highlight').removeClass('highlight');
      $(this).toggleClass("highlight");
});

        $('table#plate td').mouseover(function(){
      col=this.cellIndex +1;
      row=this.parentNode.rowIndex + 1;
      row=String.fromCharCode(row+64)
      $('#ref').html(row+col);
      
     
});
        $('table#plate td').mouseout(function(){
     
      $('#ref').html("");
      
     
});



</script>
{% if plate.PlatePurpose == 2 %}
<h3>Supply readings</h3>
  <form method=post enctype=multipart/form-data action="/uploadReadings">
      <p><input type=file name=file>
        <input type=hidden size=30 name=plateID value="{{plate.PlateID}}">
         <input type=submit value=Upload>
    </form>
    <form method=post  action="/clearReadings">
      <p>
        <input type=hidden size=30 name=plateID value="{{plate.PlateID}}">
         <input type=submit value="Clear readings">
    </form>
    {% if plate.PlateFinished == 0 %}
    <form method=post  action="/closeReadings">
      <p>
        <input type=hidden size=30 name=plateID value="{{plate.PlateID}}">
         <input type=submit value="Finished populating plate">
    </form>
    {% endif %}
      {% if plate.PlateFinished == 1 %}
      <form method=post  action="/uncloseReadings">
      <p>
        <input type=hidden size=30 name=plateID value="{{plate.PlateID}}">
         <input type=submit value="Re-open plate">
    </form>
      {% endif %}

{% endif %}

 <form method=post  action="/deletePlate">
      <p>
        <input type=hidden size=30 name=plateID value="{{plate.PlateID}}">
         <input type=submit value="Delete plate" onclick="return confirm('Are you sure you want to delete this plate?')">
    </form>

{% endblock %}
