{% extends "layout.html" %}
{% block body %}
 <h2>Culture: {{ culture.CultureName }} <small>| <a href="{{ url_for('show_plate',plateID=culture.PlateID) }}"> {{culture.PlateName}}</a>: {{ formatRowColumn(culture.Row,culture.Column)}}</small></h2>
<h3>Parasitaemias</h3>
  <ul>
  {% for item in measurements %}
  <li>{{item.MeasurementValue}}% - {{displayTime(item.timeSampled)}} </li>
      {% endfor %}
      
  
</ul>

<div class="result" style="width:100% height:200px; margin:0 auto;">
</div>
<script>

    
  markers=[ {% for item in actions %} { 'label':'{{item.TypeOfOperation}}' , {%if item.doneAt is not none %} 'date': {{item.ActionTime*1000}} {% endif %} } {{ "," if not loop.last }} {% endfor %}];
 
     
data=[{% for item in measurements %}{date:new Date({{item.timeSampled * 1000}}),parasitaemia:{{item.MeasurementValue}}}{{ "," if not loop.last }}{% endfor %}];
    </script>

    <script>
//modify away!

MG.data_graphic({
 
  
  data: data,
  markers:markers,
  full_width:true,
  height: 200,
  target: ".result",
  x_accessor: "date",
  y_accessor: "parasitaemia",
   x_label: 'Date',
        y_label: 'Parasitaemia',
        interpolate: d3.curveLinear,
        max_y:10,
         max_x: Date.now()

});


</script>
    

  <h3>Action history</h3>
  <ul>
  {% for item in actions %}
  <li>{{item.TypeOfOperation}} - {%if item.doneAt is not none %} {{displayTime(item.ActionTime)}} {% endif %}</li>
      {% endfor %}
    
  
  
</ul>

<h3>Raw command history</h3>
  <ul>
  {% for item in history %}
  <li>{{item.Command}} - {%if item.doneAt is not none %} {{displayTime(item.doneAt)}} {% endif %}</li>
      {% endfor %}
    </ul>


{% if culture.Status!=10 %}
<form action="{{url_for('archivePlatePosition')}}" method="post">
  <input type=hidden size=30 name=row value="{{culture.Row}}"><input type=hidden size=30 name=col value="{{culture.Column}}"><input type=hidden size=30 name=plateid value="{{culture.PlateID}}"><input type="submit" value="Archive this location" />
  </form>
{% endif %}
{% if culture.Status==10 %}
<form action="{{url_for('unarchivePlatePosition')}}" method="post">
  <input type=hidden size=30 name=row value="{{culture.Row}}"><input type=hidden size=30 name=col value="{{culture.Column}}"><input type=hidden size=30 name=plateid value="{{culture.PlateID}}"><input type="submit" value="Unarchive this location" />
  </form>
{% endif %}
<form action="{{url_for('deletePlatePosition')}}" method="post">
  <input type=hidden size=30 name=row value="{{culture.Row}}"><input type=hidden size=30 name=col value="{{culture.Column}}"><input type=hidden size=30 name=plateid value="{{culture.PlateID}}"><input type="submit" value="Delete this location" />
  </form>
  <form action="{{ url_for('add_manual_action') }}" method=post class=add-entry>
      <h3>Manually add an action</h3>
      <dl>
        <dt>Custom action:
        <dd><input type=text size=30 name=text><input type=hidden size=30 name=row value="{{culture.Row}}"><input type=hidden size=30 name=col value="{{culture.Column}}"><input type=hidden size=30 name=plateid value="{{culture.PlateID}}"><input type=hidden size=30 name=cultureid value="{{culture.CultureID}}">
   
      </dl>
    </form>
{% endblock %}